﻿@using Eshop.Database.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Debra";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eshop</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/scss/site.scss" />
    <link rel="stylesheet" href="~/scss/custom.scss" />
</head>
<body>
    <header class="bg-primary">
        <div class="container">
            <nav class="navbar navbar-dark d-flex justify-content-between">
                <div class="d-flex text-light">
                    <span>Follow us:</span>
                    <div>
                        <a class="text-light" href="https://facebook.com"><i class="ml-3" data-feather="facebook"></i></a>
                        <a class="text-light" href="https://twitter.com"><i class="ml-3" data-feather="twitter"></i></a>
                        <a class="text-light" href="https://instagram.com"><i class="ml-3" data-feather="instagram"></i></a>
                        <a class="text-light" href="https://youtube.com"><i class="ml-3" data-feather="youtube"></i></a>
                    </div>
                </div>
                <div>
                    <div class="btn-group dropdown">
                        <button class="btn bg-transparent text-light dropdown-toggle" type="button" id="dropdownMenuMyAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My Account
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuMyAccount">
                           @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Log out</a>
                            }
                            else
                            {
                                <a class="dropdown-item" asp-controller="Account" asp-action="Login">Log in</a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Registration">Create account</a>
                            }
                        </div>
                    </div>
                    <span class="btn-group text-light">|</span>
                    <div class="btn-group dropdown">
                        <button class="btn bg-transparent text-light dropdown-toggle" type="button" id="dropdownMenuCurrency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CZK
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuCurrency">
                            <a class="dropdown-item" href="/">CZK</a>
                        </div>
                    </div>
                </div>
            </nav>
            <hr class="mt-0 mb-2" />
            <nav class="navbar navbar-dark d-flex justify-content-between">
                <a class="navbar-brand" href="./"><h2>@ViewData["Title"].ToString().ToUpper()</h2></a>
                <form class="w-50">
                    <div class="input-group">
                        <input type="search" class="form-control bg-secondary text-light placeholder-light" placeholder="Search our store" aria-describedby="searchbox-addon" />
                        <div class="input-group-append">
                            <button class="btn btn-secondary text-light" type="button" id="searchbox-addon">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
                <a class="btn btn-outline-light" href="./">
                    <i data-feather="shopping-cart"></i>
                </a>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="container w-50 mt-2 d-flex justify-content-between">
            <h6><a class="text-dark" href="/home">Home</a></h6>
            <h6><a class="text-dark" href="/shop">Shop</a></h6>
            <h6><a class="text-dark" href="/products">Products</a></h6>
            <h6><a class="text-dark" href="/blog">Blog</a></h6>
            <h6><a class="text-dark" href="/pages/about">About</a></h6>
            <h6><a class="text-dark" href="/pages/contact">Contact</a></h6>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <strong>Name: @User.Identity.Name</strong>
        <h2>Claim details</h2>
        <ul>
            @foreach (var claim in User.Claims)
            {
                <li><strong>@claim.Type</strong>: @claim.Value</li>
            }
        </ul>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="text-line-height-narrow">
                    <h2 class="mb-3">@ViewData["Title"].ToString().ToUpper()</h2>
                    <p class="font-weight-bold mb-1">Address:</p>
                    <p>4710-4890 Breckinridge St, UK Burlington, VT 05401</p>
                    <p class="font-weight-bold mb-1">Need Help?</p>
                    <p>Call: 1-800-345-6789</p>
                    <p class="font-weight-bold mb-1">Email:</p>
                    <p>example@example.com</p>
                </div>
                <div class="text-line-height-narrow">
                    <h4 class="mb-3">About US</h4>
                    <div class="d-flex flex-column">
                        <a class="text-dark mb-3" href="/">About us</a>
                        <a class="text-dark mb-3" href="/">Store location</a>
                        <a class="text-dark mb-3" href="/">Contact</a>
                        <a class="text-dark" href="/">Orders tracking</a>
                    </div>
                </div>
                <div class="text-line-height-narrow">
                    <h4 class="mb-3">Useful links</h4>
                    <div class="d-flex flex-column">
                        <a class="text-dark mb-3" href="/">Returns</a>
                        <a class="text-dark mb-3" href="/">Support Policy</a>
                        <a class="text-dark mb-3" href="/">Size guide</a>
                        <a class="text-dark" href="/">FAQs</a>
                    </div>
                </div>
                <div class="text-line-height-narrow">
                    <h4>Latest Blogs</h4>
                </div>
            </div>
            <hr />
            <div class="d-flex justify-content-between">
                <p>
                    <span class="text-muted">Copyright ©</span> Vesoz <span class="text-muted">All Rights Reserved.</span>
                </p>
                <div>
                    <a class="text-dark" href="https://facebook.com"><i class="ml-3" data-feather="facebook"></i></a>
                    <a class="text-dark" href="https://twitter.com"><i class="ml-3" data-feather="twitter"></i></a>
                    <a class="text-dark" href="https://instagram.com"><i class="ml-3" data-feather="instagram"></i></a>
                    <a class="text-dark" href="https://youtube.com"><i class="ml-3" data-feather="youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/vendor/popper.js/dist/popper.min.js"></script>
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendor/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
