﻿@model Eshop.Models.UserLoginModel

@{
    ViewData["Title"] = "Registration";
}

<div class="text-center mb-5">
    <div class="container w-50 bg-light-gray p-5 mt-5 mb-5">
        <div class="mb-4">
            <h4 class="mb-1">Create Account</h4>
            <small class="text-muted">Please Register using account detail below.</small>
        </div>
        <form asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" type="email" class="form-control placeholder-dark" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control placeholder-dark" placeholder="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <input asp-for="RememberMe" class="form-check-input" /> @Html.DisplayNameFor(model => model.RememberMe)
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}