﻿@model  Eshop.Models.UserRegistrationModel

@{
    ViewData["Title"] = "Registration";
}

<div class="text-center mb-5">
    <div class="container w-50 bg-light-gray p-5 mt-5 mb-5">
        <div class="mb-4">
            <h4 class="mb-1">Create Account</h4>
            <small class="text-muted">Please Register using account detail below.</small>
        </div>
        <form asp-action="Registration" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="FirstName" type="text" class="form-control placeholder-dark" placeholder="First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LastName" type="text" class="form-control placeholder-dark" placeholder="Last Name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" type="email" class="form-control placeholder-dark" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control placeholder-dark" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" type="password" class="form-control placeholder-dark" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}