﻿// Variable overrides
$primary: #ff9899;
$secondary: #feaead;
$light-gray: #f3f3f3;

@import "../vendor/bootstrap/scss/bootstrap.scss";

body header nav:first-of-type a > * {
    color: $light;
}

.placeholder-light::-webkit-input-placeholder {
    color: $light;
}

.placeholder-dark::-webkit-input-placeholder {
    color: black;
}

.bg-light-gray {
    background-color: $light-gray;
}