﻿@model Eshop.Models.MessageModel

@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <div class="container w-50 p-5 mt-5 mb-5">
        <form class="text-left" asp-action="Contact" method="post">
            <h2 class="mb-4">Tell Us Your Message</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" type="text" class="form-control placeholder-dark" placeholder="Full Name" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control placeholder-dark" placeholder="Email Address" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" type="text" class="form-control placeholder-dark" placeholder="Subject" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contents" class="control-label"></label>
                <textarea asp-for="Contents" class="form-control placeholder-dark" placeholder="Message"></textarea>
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}